/* Regole generali */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

/* /Regole generali */

/* Utility Class */

.red_bg{
    background-color: red;
}
.green_bg{
    background-color: green;
}
.yellow_bg{
    background-color: yellow;
}
.red_text{
color: red;
}
.green_text{
    color: green;
}
.yellow_text{
    color: yellow;
}

/* /Utility Class */


/* Header CSS */

nav{
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 2;
    position: fixed;

}
.product_number{
    height: 50px;
    width: 50px;
    background-color: white;
    float: right;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    margin: 2rem 1rem;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
}

nav:hover .product_number{
    color: green;
    height: 80px;
    width: 80px;
    background-color: white;
    float: right;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    margin: 2rem 1rem;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
}


/* /Header CSS */

/* Main CSS */

.container{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;

}

.position_center{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.title{
    text-align: center;
    font-size: 50px;
    font-family: 'Rubik Mono One', sans-serif;
}


/* /Main CSS */
