*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.container{
    height: 100vh;
    width: 100%;
    position: relative;
}

.red_bg{
    background-color: red;
}
.green_bg{
    background-color: green;
}
.yellow_bg{
    background-color: yellow;
}

.red_text{
color: red;
}
.green_text{
    color: green;
}
.yellow_text{
    color: yellow;
}




.position_center{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.title{
    text-align: center;
    font-size: 50px;
    font-family: 'Rubik Mono One', sans-serif;
}